@model IEnumerable<CPTWorkouts.Models.Compras>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servico.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-clienteFK="@item.ClienteFK" asp-route-servicoFK="@item.ServicoFK">Editar</a> |
                    <a asp-action="Details" asp-route-clienteFK="@item.ClienteFK" asp-route-servicoFK="@item.ServicoFK">Detalhes</a> |
                    <a asp-action="Delete" asp-route-clienteFK="@item.ClienteFK" asp-route-servicoFK="@item.ServicoFK">Apagar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
