@model IEnumerable<CPTWorkouts.Models.Equipas>

@{
    ViewData["Title"] = "Equipas";
}

<h1>Equipas</h1>
@if (User.Identity.IsAuthenticated){
    <p>
        <a asp-action="Create">Adicionar nova equipa</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logotipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @*
                @Html.DisplayFor(modelItem => item.Logotipo)
                *@
                <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Logotipo)"
                        alt="logótipo do curso @Html.DisplayFor(modelItem => item.Nome)"
                        title="@Html.DisplayFor(modelItem => item.Nome)"
                        width="75px" />
                <br />

            </td>
            <td>
                @if(User.Identity.IsAuthenticated){
                    <text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>   |
                    </text>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
    }
    </tbody>
</table>
